/* Basics */
html, body{
    width: 100%;
    height: 100%;
    min-height: 100%;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    color: #444;
    -webkit-font-smoothing: antialiased;
    /* background: #f0f0f0; */
    /* background: url("img/login/CERNbackground.png") no-repeat top left fixed ; */
    margin: 0;
    padding: 0;
}

/* .login-box{
  width: 320px;
  height: 420px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box; */
/* } */

#container{
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    color: #FFFFFF;


    width: 340px;
    height: 350px;
    top: 35%;
    left: 70%;
    margin-top: -130px;
    margin-left: -170px;
}
#container signin{
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;


    width: 340px;
    height: 280px;
    top: 35%;
    left: 70%;
    margin-top: -130px;
    margin-left: -170px;
}

/* .form-all {
background: url("img/login/CERNbackground.png") no-repeat top left;
} */




form{
    margin: 0 auto;
    margin-top: 20px;
}

label{
  color: #FFFFFF;
    display: inline-block;
    margin-left: 18px;
    padding-top: 10px;
    font-size: 14px;
}

p a{
    font-size: 15px;
    color: #FFFFFF;
    float: right;
    margin-top: 0px;
    margin-right: 130px;
}

p a:hover{
      color: #FFFFFF;
}

input{
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    outline: none;
    background-color: transparent;
    color: #FFFFFF;

}

input[type=text],
input[type=password]{
    padding-left: 10px;
    margin: 10px;
    margin-top: 12px;
    margin-left: 18px;
    width: 290px;
    height: 35px;
}

input[type=text]:hover,
input[type=password]:hover {
    border: 1px solid #999;
    background: #A9A9A9;
}

#lower{
    /* background: #ecf2f5; */
    width: 100%;
    height: 69px;
    margin-top: 20px;
}


input[type=checkbox]{
    margin-left: 20px;
    margin-top: 30px;
}

.check{
    margin-left: 3px;
}
/* .signin {
  /* background-color: #f1f1f1; */
  /* text-align: left; */
/* } */

.signin .message {
  margin: 15px 15px 15px;
  color: #b3b3b3;
  font-size: 12px;
}
.signin .message a {
  color: #4CAF50;
  text-align: right;
  text-decoration: none;
}



button {
  font-size: 15px;
  float: right;
  margin-right: 20px;
  margin-top: 5%;
  width: 80px;
  height: 30px;
  color: #FFFFFF;

  background-color: transparent;
}

button:hover {
    border: 1px solid #999;
    background: #ffb6c1;
}


/* button:hover {
  opacity: 0.8;
} */
