<!DOCTYPE html>

{% load staticfiles %}

<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
 	  <link rel="stylesheet" type="text/css" href="{% static 'css/mihologinpage.css' %}"/>
 	  <script src="{% static "js/jquery-1.12.2.min.js" %}" type="text/javascript"></script>
	  <script src="{% static "js/reconnecting-websocket.min.js" %}" type="text/javascript"></script>
    <style type="text/css">
       body{
        background: url('{% static "images/summies2019.jpg" %}') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
       }
    </style>
</head>
<body>
		{% block content %}
		{% endblock %}
    <img src='{% static "images/logo.png" %}' alt="logo" style="transform: rotate(20deg);" />
</body>
</html>
